<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <%= stylesheet %>

  </head>

  <body>
    <article class="markdown-body">
      <%= rendered_markdown %>
    </article>
  </body>
</html>
